.back-link {
  position: relative;
  display: inline-block;
  padding: 4px 8px;
  margin-top: 32px;
  border: 1px solid;
  border-radius: 8px;
  transition: background-color 300ms ease, color 300ms ease;
  margin-bottom: 10px;
}

.back-link:hover {
  background-color: #000000;
  color: #ffffff;
}